.header {
    position: relative;
    z-index: 1; 

    /*hamburger open*/
    &.open {
        body {
            &.noscroll {
                overflow: hidden;
            }
        }

        
        .header__toggle {
            /*if class in HTML is named open, then*/
            > span:first-child {
                transform: rotate(45deg);

            }
            > span:nth-child(2) {
                opacity: 0;
        
            }
            > span:last-child {
                transform: rotate(-45deg);
        
            }
        }

    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($muteDarkPurp, transparent);

    }


    &__nav {
        position: relative;
        background-color: transparent;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include breakpoint-up(large){
            padding-left: 6rem;
            padding-right: 6rem;
        }

    }

    &__cta {
        padding: 0.1rem 2.1875rem;
        margin-right: 7.2rem;
        margin-top: 1rem;
        /*padding: 0.3rem 2.1875rem;*/
    }

    &__links {
        a {
            position: relative;
            color: $cream;
            font-stretch: extra-condensed;
            text-shadow: none;
            transition: text-shadow 150ms ease-in-out;

            &:hover {
                text-shadow: 1px 1px 8px #512334;
            }

            &:not(:last-child){
                margin-right: 32px;
            }
        }
    }

    &__toggle {
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $cream;
            transition: all 150ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $cream;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;

        a {
            display: block;
            padding: 0.625rem;
            color: $muteDarkBlue;
            text-align: left;
            font-weight: 800;
        }
    }
}