/*Colors*/
$deepBrown: #351706;
$medBrown: #CDA290;
$lightBrown: #8E6756;
$royalBlue: #003dac;
$darkerBlue: #001969;
$cream: #FFD1DB;

$gradientGreen: #F9F871;
$gradientPurple: #BA94C9;

$lightBlue: #7da9b8;
/*classy pallete based on 7DA9B8*/
$muteDarkBlue: #334a52;
$muteLightBlue: #96afb8;
$muteLightPurp: #b09bb6;
$muteDarkPurp: #7b6881;

/*based on e99266*/
$skinBrown: #e99266;
$pink: #d6777d;
$skinPurp: #ae698c;
$coolSkinPurp: #7b618a;
$medSkinBlue: #4c5777;
$deepSkinBlue: #2f4858;

$skinYellow: #c1903f;
$skinOlive: #8e8d28;
$skinGreen: #51882a;
$skinForest: #008040;
$skinTeal: #00745d;

$red: #b10500;
$buttonBlue: #e6f4f1;
$newLightBlue: #29abe2;
$newMainBlue: #0077aa;




$font-small: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-cta: 2.5rem; // 40px
$font-xlg: 3.25rem; //52 px